<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fireCloud.tradCity.commodity.mapper.CommdityMapper">
	
	<resultMap type="com.fireCloud.tradCity.commodity.model.CommoditySearchModel" id="baseMap">
		<id column="commodityId" property="commodityId" jdbcType="INTEGER" />
		<result column="commodityCategory1" property="commodityCategory1" jdbcType="VARCHAR" />
		<result column="commodityCategory2" property="commodityCategory2" jdbcType="VARCHAR" />
		<result column="commodityCategory3" property="commodityCategory3" jdbcType="VARCHAR" />
		<result column="commodityName" property="commodityName" jdbcType="VARCHAR" />
		<result column="brand" property="brand" jdbcType="VARCHAR" />
		<result column="quantity" property="quantity" jdbcType="INTEGER" />
		<result column="uom" property="uom" jdbcType="VARCHAR" />
		<result column="color" property="color" jdbcType="VARCHAR" />
		<result column="size" property="size" jdbcType="VARCHAR" />
		<result column="saleState" property="saleState" jdbcType="VARCHAR" />
		<result column="price" property="price" jdbcType="DECIMAL" />
		<result column="goodFlg" property="goodFlg" jdbcType="INTEGER" />
		<result column="hotFlg" property="hotFlg" jdbcType="INTEGER" />
		<result column="choiceFlg" property="choiceFlg" jdbcType="INTEGER" />
		<result column="appreciateFlg" property="appreciateFlg" jdbcType="INTEGER" />
		<result column="picture1" property="picture1" jdbcType="VARCHAR" />
		<result column="picture2" property="picture2" jdbcType="VARCHAR" />
		<result column="picture3" property="picture3" jdbcType="VARCHAR" />
		<result column="picture4" property="picture4" jdbcType="VARCHAR" />
		<result column="picture5" property="picture5" jdbcType="VARCHAR" />
		<result column="commodityShowId" property="commodityShowId" jdbcType="INTEGER" />
		<result column="commodityIntroduction" property="commodityIntroduction" jdbcType="VARCHAR" />
		<result column="packingSpecification" property="packingSpecification" jdbcType="VARCHAR" />
		<result column="instructions" property="instructions" jdbcType="VARCHAR" />
		<result column="customerService" property="customerService" jdbcType="VARCHAR" />
		<result column="showPagePath" property="showPagePath" jdbcType="VARCHAR" />
		<result column="showPageSource" property="showPageSource" jdbcType="VARCHAR" />
		<result column="memberId" property="memberId" jdbcType="INTEGER" />
		<result column="memberName" property="memberName" jdbcType="VARCHAR" />
		<result column="logoPath" property="logoPath" jdbcType="VARCHAR" />
		<result column="reputation" property="reputation" jdbcType="VARCHAR" />
		<result column="guarantee" property="guarantee" jdbcType="INTEGER" />
		<result column="highQuality" property="highQuality" jdbcType="INTEGER" />
		<result column="sincerity" property="sincerity" jdbcType="INTEGER" />
		<result column="returnGoods" property="returnGoods" jdbcType="INTEGER" />
	</resultMap>
	
	<resultMap type="com.fireCloud.tradCity.commodity.model.CommodityCategoryAModel" id="commodityCategoryAMap">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="categoryName" property="categoryName" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="createTime" property="createTime" jdbcType="VARCHAR" />
		<result column="createOpt" property="createOpt" jdbcType="VARCHAR" />
		<result column="updateTime" property="updateTime" jdbcType="VARCHAR" />
		<result column="updateOpt" property="updateOpt" jdbcType="VARCHAR" />
	</resultMap>
	
	<resultMap type="com.fireCloud.tradCity.commodity.model.CommodityCategoryBModel" id="commodityCategoryBMap">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="categoryAId" property="categoryAId" jdbcType="INTEGER" />
		<result column="categoryName" property="categoryName" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="createTime" property="createTime" jdbcType="VARCHAR" />
		<result column="createOpt" property="createOpt" jdbcType="VARCHAR" />
		<result column="updateTime" property="updateTime" jdbcType="VARCHAR" />
		<result column="updateOpt" property="updateOpt" jdbcType="VARCHAR" />
	</resultMap>
	
	<resultMap type="com.fireCloud.tradCity.commodity.model.CommodityCategoryCModel" id="commodityCategoryCMap">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="categoryBId" property="categoryBId" jdbcType="INTEGER" />
		<result column="categoryName" property="categoryName" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="createTime" property="createTime" jdbcType="VARCHAR" />
		<result column="createOpt" property="createOpt" jdbcType="VARCHAR" />
		<result column="updateTime" property="updateTime" jdbcType="VARCHAR" />
		<result column="updateOpt" property="updateOpt" jdbcType="VARCHAR" />
	</resultMap>
	
	<select id="queryCommodity" resultMap="baseMap" parameterType="java.util.Map">
		select a.id commodityId,a.commodityCategory1,a.commodityCategory2,a.commodityCategory3,a.commodityName,a.brand,a.price,
		a.quantity,a.uom,a.color,a.size,a.saleState,a.goodFlg,a.hotFlg,a.choiceFlg,a.appreciateFlg,a.picture1,a.picture2,a.picture3,
		a.picture4,a.picture5,b.id commodityShowId,b.commodityIntroduction,b.packingSpecification,b.instructions,b.customerService,
		b.showPagePath,b.showPageSource,a.memberId,c.memberName,c.logoPath,c.reputation,c.guarantee,c.highQuality,c.sincerity,returnGoods
		from commodity a
		inner join commodity_show b on a.id = b.commodityId
		left join member c on a.memberId = c.id
		where 1=1
		<if test="commodity.id != null and commodity.id != ''">
			and a.id = #{commodity.id}
		</if>
		<if test="commodity.memberId != null and commodity.memberId != ''">
			and a.memberId = #{commodity.memberId}
		</if>
		<if test="commodity.commodityCategory1 != null and commodity.commodityCategory1 != ''">
			and a.commodityCategory1 = #{commodity.commodityCategory1}
		</if>
		<if test="commodity.commodityCategory2 != null and commodity.commodityCategory2 != ''">
			and a.commodityCategory2 = #{commodity.commodityCategory2}
		</if>
		<if test="commodity.commodityCategory3 != null and commodity.commodityCategory3 != ''">
			and a.commodityCategory3 = #{commodity.commodityCategory3}
		</if>
		<if test="commodity.commodityName != null and commodity.commodityName != ''">
			and a.commodityName like '%${commodity.commodityName}%'
        </if>
		<if test="commodity.brand != null and commodity.brand != ''">
			and a.brand = #{commodity.brand}
		</if>
		<if test="commodity.color != null and commodity.color != ''">
			and a.color = #{commodity.color}
		</if>
		<if test="commodity.size != null and commodity.size != ''">
			and a.size = #{commodity.size}
		</if>
		<if test="commodity.priceMin != null and commodity.priceMin != ''">
			and a.price &gt;= #{commodity.priceMin}
        </if>
		<if test="commodity.priceMax != null and commodity.priceMax != ''">
			and a.price &lt;= #{commodity.priceMax}
        </if>
		<if test="commodity.saleState != null and commodity.saleState != ''">
			and a.saleState = #{commodity.saleState}
		</if>
		<if test="commodity.goodFlg != null and commodity.goodFlg != ''">
			and a.goodFlg = #{commodity.goodFlg}
		</if>
		<if test="commodity.hotFlg != null and commodity.hotFlg != ''">
			and a.hotFlg = #{commodity.hotFlg}
		</if>
		<if test="commodity.choiceFlg != null and commodity.choiceFlg != ''">
			and a.choiceFlg = #{commodity.choiceFlg}
		</if>
		<if test="commodity.appreciateFlg != null and commodity.appreciateFlg != ''">
			and a.appreciateFlg = #{commodity.appreciateFlg}
		</if>
		<if test="commodityId != null and commodityId != ''">
			and a.id = #{commodityId}
		</if>
		<if test="memberId != null and memberId != ''">
			and a.memberId = #{memberId}
		</if>
		<if test="commodityCategory1 != null and commodityCategory1 != ''">
			and a.commodityCategory1 = #{commodityCategory1}
        </if>
		<if test="commodityCategory2 != null and commodityCategory2 != ''">
			and a.commodityCategory2 = #{commodityCategory2}
        </if>
		<if test="commodityCategory3 != null and commodityCategory3 != ''">
			and a.commodityCategory3 = #{commodityCategory3}
        </if>
		<if test="commodityName != null and commodityName != ''">
			and a.commodityName like '%${commodityName}%'
        </if>
		<if test="brand != null and brand != ''">
			and a.brand = #{brand}
        </if>
		<if test="color != null and color != ''">
			and a.color = #{color}
        </if>
		<if test="size != null and size != ''">
			and a.size = #{size}
        </if>
		<if test="priceMin != null and priceMin != ''">
			and a.price &gt;= #{priceMin}
        </if>
		<if test="priceMax != null and priceMax != ''">
			and a.price &lt;= #{priceMax}
        </if>
		<if test="saleState != null and saleState != ''">
			and a.saleState = #{saleState}
		</if>
		<if test="goodFlg != null and goodFlg != ''">
			and a.goodFlg = #{goodFlg}
		</if>
		<if test="hotFlg != null and hotFlg != ''">
			and a.hotFlg = #{hotFlg}
		</if>
		<if test="choiceFlg != null and choiceFlg != ''">
			and a.choiceFlg = #{choiceFlg}
		</if>
		<if test="appreciateFlg != null and appreciateFlg != ''">
			and a.appreciateFlg = #{appreciateFlg}
		</if>
        order by  
        <if test="commodity.hotUp != null and commodity.hotUp != ''">
			a.hotFlg asc,
        </if>
        <if test="commodity.hotDown != null and commodity.hotDown != ''">
			a.hotFlg desc,
        </if>
        <if test="commodity.priceUp != null and commodity.priceUp != ''">
			a.price asc,
        </if>
        <if test="commodity.priceDown != null and commodity.priceDown != ''">
			a.price desc,
        </if>
        <if test="commodity.createTimeUp != null and commodity.createTimeUp != ''">
			a.createTime asc,
        </if>
        <if test="commodity.createTimeDown != null and commodity.createTimeDown != ''">
			a.createTime desc,
        </if>
        <if test="hotUp != null and hotUp != ''">
			a.hotFlg asc,
        </if>
        <if test="hotDown != null and hotDown != ''">
			a.hotFlg desc,
        </if>
        <if test="priceUp != null and priceUp != ''">
			a.price asc,
        </if>
        <if test="priceDown != null and priceDown != ''">
			a.price desc,
        </if>
        <if test="createTimeUp != null and createTimeUp != ''">
			a.createTime asc,
        </if>
        <if test="createTimeDown != null and createTimeDown != ''">
			a.createTime desc,
        </if>
        c.reputation desc, a.id desc
	</select>
	
	<insert id="insCommodityCategoryA" parameterType="com.fireCloud.tradCity.commodity.model.CommodityCategoryAModel" useGeneratedKeys="true">
		<selectKey resultType="int" keyProperty="id" order="AFTER">  
	        SELECT  
	        LAST_INSERT_ID()  
	    </selectKey>
	    insert into commoditycategorya (categoryName,status,createTime,createOpt,updateTime,updateOpt)
		values (#{categoryName},#{status},now(),#{createOpt},now(),#{updateOpt})
	</insert>
	
	<select id="queryCommodityCategoryA" resultMap="commodityCategoryAMap" parameterType="java.util.Map">
		select * from commoditycategorya
		where 1=1
		<if test="id != null and id != ''">
			and id = #{id}
		</if>
		<if test="categoryName != null and categoryName != ''">
			and categoryName = #{categoryName}
		</if>
		<if test="status != null and status != ''">
			and status = #{status}
		</if>
        order by  
        createTime
	</select>
	
	<insert id="insCommodityCategoryB" parameterType="com.fireCloud.tradCity.commodity.model.CommodityCategoryBModel" useGeneratedKeys="true">
		<selectKey resultType="int" keyProperty="id" order="AFTER">  
	        SELECT  
	        LAST_INSERT_ID()  
	    </selectKey>
	    insert into commoditycategoryb (categoryAId,categoryName,status,createTime,createOpt,updateTime,updateOpt)
		values (#{categoryAId},#{categoryName},#{status},now(),#{createOpt},now(),#{updateOpt})
	</insert>
	
	<select id="queryCommodityCategoryB" resultMap="commodityCategoryBMap" parameterType="java.util.Map">
		select * from commoditycategoryb
		where 1=1
		<if test="id != null and id != ''">
			and id = #{id}
		</if>
		<if test="categoryAId != null and categoryAId != ''">
			and categoryAId = #{categoryAId}
		</if>
		<if test="categoryName != null and categoryName != ''">
			and categoryName = #{categoryName}
		</if>
		<if test="status != null and status != ''">
			and status = #{status}
		</if>
        order by  
        createTime
	</select>
	
	<insert id="insCommodityCategoryC" parameterType="com.fireCloud.tradCity.commodity.model.CommodityCategoryCModel" useGeneratedKeys="true">
		<selectKey resultType="int" keyProperty="id" order="AFTER">  
	        SELECT  
	        LAST_INSERT_ID()  
	    </selectKey>
	    insert into commoditycategoryc (categoryBId,categoryName,status,createTime,createOpt,updateTime,updateOpt)
		values (#{categoryBId},#{categoryName},#{status},now(),#{createOpt},now(),#{updateOpt})
	</insert>
	
	<select id="queryCommodityCategoryC" resultMap="commodityCategoryCMap" parameterType="java.util.Map">
		select * from commoditycategoryc
		where 1=1
		<if test="id != null and id != ''">
			and id = #{id}
		</if>
		<if test="categoryBId != null and categoryBId != ''">
			and categoryBId = #{categoryBId}
		</if>
		<if test="categoryName != null and categoryName != ''">
			and categoryName = #{categoryName}
		</if>
		<if test="status != null and status != ''">
			and status = #{status}
		</if>
        order by  
        createTime
	</select>
	
	<insert id="insCommodity" parameterType="com.fireCloud.tradCity.commodity.model.CommodityModel" useGeneratedKeys="true">
		<selectKey resultType="int" keyProperty="id" order="AFTER">  
	        SELECT  
	        LAST_INSERT_ID()  
	    </selectKey>
	    insert into commodity (memberId,commodityCategory1,commodityCategory2,commodityCategory3,commodityName,brand,price,quantity,color,size,saleState,picture1,picture2,picture3,picture4,picture5,createTime,createOpt,updateTime,updateOpt)
		values (#{memberId},#{commodityCategory1},#{commodityCategory2},#{commodityCategory3},#{commodityName},#{brand},#{price},#{quantity},#{color},#{size},#{saleState},#{picture1},#{picture2},#{picture3},#{picture4},#{picture5},now(),#{createOpt},now(),#{updateOpt})
	</insert>
	
	<insert id="insCommodityShow" parameterType="com.fireCloud.tradCity.commodity.model.CommodityShowModel" useGeneratedKeys="true">
		<selectKey resultType="int" keyProperty="id" order="AFTER">  
	        SELECT  
	        LAST_INSERT_ID()  
	    </selectKey>
	    insert into commodity_show (commodityId,commodityIntroduction,packingSpecification,instructions,customerService,showPagePath,showPageSource,createTime,createOpt,updateTime,updateOpt)
		values (#{commodityId},#{commodityIntroduction},#{packingSpecification},#{instructions},#{customerService},#{showPagePath},#{showPageSource},now(),#{createOpt},now(),#{updateOpt})
	</insert>
</mapper>