<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-4.0.xsd
	http://www.springframework.org/schema/mvc  
    http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">


	<!-- 上传文件 -->
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="defaultEncoding" value="UTF-8"></property>
		<property name="maxUploadSize" value="5400000"></property>
		<property name="uploadTempDir" value="fileUpload/temp"></property>
	</bean>

	<!-- 拦截器 -->
	<mvc:interceptors>
		<!-- API调用拦截器 -->
		<mvc:interceptor>
			<mvc:mapping path="/**" />
			<bean class="com.fireCloud.tradCity.interceptor.ApiPrivilegeInterceptor" />
		</mvc:interceptor>
		<!-- 登录拦截器 -->
		<mvc:interceptor>
			<mvc:mapping path="/*/user/**" />
			<bean class="com.fireCloud.tradCity.interceptor.UserLoginInterceptor" />
		</mvc:interceptor>
	</mvc:interceptors>

	<!-- 扫描控制器类 -->
	<context:component-scan base-package="com.fireCloud.tradCity/**/controller/**" />

	<!-- 配置静态资源 用来测试的 -->
	<mvc:resources mapping="/html/**" location="/html/" />
	<mvc:resources mapping="/js/**" location="/js/" />

	<!-- @controler等mvc注解驱动 -->
	<mvc:annotation-driven />
</beans>
	
	